<h1>Showing a Todo</h1>

<p>
	name: <%= @list.name %>
</p>
<p>
	description: <%= @list.description %>
</p>
<%= link_to "Edit this Todo", edit_list_path(@list) %> |
<%= link_to "Back to List Listing", lists_path %>
