<?php 
include 'includes/head.php';
include 'includes/navigation.php';
?>

        
<!-- Hero -->
<section id="hero" class="hero-fullwidth parallax" data-overlay-dark="8">  
    <div class="background-image">
        <video data-youtube-video-id="7Uyejpf7CNs" id="vossen-youtube"></video>
    </div>
    
    <div class="container">
        <div class="row">   

            <div class="col-lg-8 text-center visible-xs visible-sm visible-md"> 
                <h1><b>Create Your Own<br> Custom Clothing</b></h1>
                <p class="lead">Design custom & branded products in minutes with our on-demand print system. Order products individually or launch an entire ecommerce store!</p>  
                <div class="mt20 mb20">
                <a href="https://app.printpartners.com/order_wizard/design_product" class="btn btn-lg btn-alpha btn-scroll">Place Custom Order</a>
                <a href="#get-started" class="btn btn-lg btn-beta btn-scroll">Create eCommerce Store</a>
                <ol class="lead mt30 mb30"><em>
                <i class="ion-checkmark-circled" aria-hidden="true"></i> No Risk, We Print as You Sell
                <br>
                <i class="ion-checkmark-circled" aria-hidden="true"></i> No Volume Commitment
                </em></ol>
                 </div>          
            </div> 

        
            <div class="col-lg-7 text-left hidden-xs hidden-sm hidden-md"> 
                <h1><b>Create Your<br>Own Custom Clothing</b></h1>
                <p class="lead">Design custom & branded products in minutes with our on-demand print system. Order products individually or launch an entire ecommerce store!</p>
                <div class="mt20 mb20">
                <a href="https://app.printpartners.com/order_wizard/design_product" class="btn btn-lg btn-alpha btn-scroll">Place Custom Order</a>
                <a href="#get-started" class="btn btn-lg btn-beta btn-scroll">Create eCommerce Store</a> </div>   
                <ol class="lead mt20">
                <i class="ion-checkmark-circled" aria-hidden="true"></i> No Risk, We Print as You Sell
                <br>
                <i class="ion-checkmark-circled" aria-hidden="true"></i> No Volume Commitment
                </ol>           
            </div> 
            <div class="col-lg-5 left hidden-xs hidden-sm hidden-md">   
                <a href="https://app.printpartners.com/order_wizard/design_product"><img src="img/assets/yourdesign.png"></a>                    
            </div>  
        </div>
    </div>  
    <a id="mute-toggle"><i class="ion-android-volume-mute"></i></a>
    <a id="play-toggle"><i class="ion-play"></i></a>
</section>
<!-- End Hero -->
<!-- About Us -->
<section id="about" class="pt100 pb90">
    <div class="container">                      
        <div class="row">    

            <div class="col-md-12 text-center pb20">   
                <h2>Why Choose<br><strong>Print Partners?</strong></h2>
                <p class="lead">We are your <span class="color">on-demand, full service</span> printing partner that makes it easy<br class="show-for-large-up"> to
                grow and scale your apparel business from scratch.</p>
            </div>  
            
           <div class="col-md-4 col-sm-6 feature-left">
                <i class="ion-tshirt-outline back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong>No Commitment</strong><br>High Quality Inventory</h4>
                        <div class="team-image">
                            <img src="img/team/4.png" class="img-responsive" alt="High Quality Inventory" />
                        </div> 
                </div> 
            </div>
            <div class="col-md-4 col-sm-6 feature-left">
                <i class="icon-genius back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong>eCommerce Integrated</strong><br>On-Demand Printing</h4>
                        <div class="team-image">
                            <img src="img/team/5.png" class="img-responsive" alt="On-Demand Printing" />
                        </div> 
                </div> 
            </div>
            <div class="col-md-4 col-sm-6 feature-left">
                <i class="ion-android-share-alt back-icon"></i> 
                <div class="feature-left-content">
                    <h4><strong>Automated</strong><br>Shipping and Support</h4>
                        <div class="team-image">
                            <img src="img/team/6.png" class="img-responsive" alt="Shipping and Support" />
                        </div> 
                </div> 
            </div> 
        </div>
    </div>
</section>
<!-- End About Us -->



<!-- Start Price List -->
<section class="pt0 pb40 pricing-1">
    <div class="container">
        <div class="row"> 
            <div class="col-md-12 text-center pb50">   
                <h2><strong>"How it Works"</strong></h2>
            </div>
        <div class="col-md-12 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="col-lg-6 col-md-6">
            
                <div class="panel-group mb0" id="accordion">
                    <!-- First Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title" data-toggle="collapse" data-target="#collapse1" onclick="changeImager(1)">
                                 <h4 class="bold">1. Install The App</h4>
                             </button>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse open in">
                            <div class="panel-body">
                                <p>Download the <strong>Print Partners</strong> from the Shopify App store and immediately take advantage of our entire fulfillment system.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Second Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapse2" onclick="changeImager(2)">
                                 <h4 class="bold">2. Create Your Designs</h4>
                             </button>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Our built-in Product Designer makes it easy to choose styles, colors and sizes as well as upload your own artwork. Your designs are then automatically synced to your Shopify store.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Third Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapse3" onclick="changeImager(3)">
                                 <h4 class="bold">3. Make a Sale <em>(Automatic)</em></h4>
                             </button>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>You are paid in full for every purchase (through Shopify). Then, once the order begins, Print Partners will bill the cost to your card on file leaving the profit in your account.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Fourth Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapse4" onclick="changeImager(4)">
                                 <h4 class="bold">4. Product Ships <em>(Automatic)</em></h4>
                             </button>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>We don't print until you sell a design, meaning you can post unlimited designs without inventory costs. Finished products normally leave our facilities within two business days of being ordered.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Fifth Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapse5" onclick="changeImager(5)">
                                 <h4 class="bold">5. Collect Payment <em>(Automatic)</em></h4>
                             </button>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Thats it! Your profit for the sale is now in your account and your orders have been tracked to the <strong>Dashboard</strong>. Time to upload more designs and try new marketing strategies!</p>
                            </div>
                        </div>
                    </div> 
                    </div>
                </div>
                <!-- End Accordian --> 
                <div class="col-lg-4 col-lg-offset-1 col-md-4">
                    <img id="phoneMockup" src="img/assets/iphone-mockup1.png">
                </div>
            </div>
            </div>
        </div>
    </div>
</section>        
<!-- End Price List -->


<!-- Video Embeds -->
<section id="elements-videos" class="pb40 bg-white">
    <div class="container">  
        
        <div class="col-md-12 text-center pb20">
                <h2>The<br><strong>Print Partners Process:</strong></h2>
        </div>
        
        <div class="row">   

            <!-- Youtube Half Column -->
            <div class="col-lg-offset-3 col-lg-6 col-md-8 col-md-offset-2 col-sm-12 center mt20 mb40">
                <div class="video-container">
                    <img src="img/video/video-thumb.jpg" />
                    <iframe data-video-embed="https://www.youtube.com/embed/SyxMesJ24VM?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
                </div>   
            </div> 


        </div>

    </div>
</section> 
<!-- End Video Embeds -->



<!-- Contact Info -->
<section class="parallax pt90 pb90" data-overlay-dark="7" id="get-started">
    <div class="background-image">
        <img src="img/backgrounds/bg-1.jpg" alt="Print Partners Facilitites">
    </div>
    <div class="container">
        <div class="row">
            
    <div class="col-md-12 text-center pb20 mt50">
        <h2 class="mb20">Become a <br><strong>Print Partner</strong></h2>
        <p class="lead">Sign up below to join the Print Partners network! You'll receive a welcome email<br class="show-for-medium-up"> with everything you need to get started.</p>
    </div>

    <div class="col-md-8 col-md-offset-2 contact box-style mb70">
        <div id="message-info"></div>
        <!-- Forms can be functional only on server. Upload to your server when testing. -->
            <div class="subscription">
                <div class="input-group">
                    <form action="php/subscribe-mailchimp.php" method="post" id="subscribe-form" role="form">
                        <div class="form-group subscribe-form-input">
                        <div class="form-validation alert"></div>
                            <span class=" pt10">
                                <input type="text" name="fname" class="top-subscribe-input" placeholder="First Name"/>  
                            </span>
                            <span class=" pt10">
                                <input type="email" name="email" id="subscribe-form-email" class="top-subscribe-input" placeholder="Email Address"/>  
                            </span>
                            <span>
                                <button onclick="return gtag_report_conversion(‘https://printpartners.com/index')" class="btn btn-lg btn-primary" data-loading-text="Building Account">Get Started!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div> 
    </div>
            
        </div>
    </div>
</section>
<!-- End Contact Info -->


<!-- Team -->
<section id="team" class="hero-fullscreen2 pt100 pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Partner <strong>Testimonials</strong></h2>
                <p class="lead">Reviews from our Partners around the world.</p>
            </div>
            <div class="row">
                <!-- Youtube Half Column -->
                <div class="col-lg-6 col-md-6 col-sm-12 center mt20 mb70">
                    <image src="img/assets/giphy.gif" width="100%" height="auto">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mtnegative">
                    <section id="elements-testimonials" class="testimonials quote-icons dark-pagination">
                        <!-- Testimonial One -->
                        <div>
                            <h4>
                                    <i class="vossen-quote-2 color"></i>
                                    <img src="img/assets/vossen-quote-2.png" alt="quote" class="vossen-quote-2">
                                    From the very first conversation that I had with a rep in their sales department, to working with their staff in various departments, they've been fast, friendly, and helpful... the quality of the prints is exceptional.
                                    <i class="vossen-quote color"></i>
                                </h4>
                            <h5><strong>David Mason LLC</strong></h5>
                            <p class="occupation">Print Partner</p>
                        </div>
                        <!-- Testimonial Two -->
                        <div>
                            <h4>
                                    <i class="vossen-quote-2 color"></i>
                                    <img src="img/assets/vossen-quote-2.png" alt="quote" class="vossen-quote-2">
                                    I was turned onto Print Partners through a mutual friend who runs a merchandise company. His business runs on trust and quality, and so I knew he wouldn't steer me wrong. I can honestly say--he didn't! So thankful to have found Print Partners. Turnaround is fantastic, customer support is unparalleled, and they're constantly adding new products!
                                    <i class="vossen-quote color"></i>
                                </h4>
                            <h5><strong>Dark Design Co</strong></h5>
                            <p class="occupation">Print Partner</p>
                        </div>
                        <!-- Testimonial Three -->
                        <div>
                            <h4>
                                    <i class="vossen-quote color"></i>
                                    <img src="img/assets/vossen-quote-2.png" alt="quote" class="vossen-quote-2">
                                    I was looking for a zero-touch solution for custom garments and these guys were perfect. Setup was quick and pricing was very competitive. Definitely suggest using them for tee shirts.
                                    <i class="vossen-quote color"></i>
                                </h4>
                            <h5><strong>Jay Gadbois</strong></h5>
                            <p class="occupation">Print Partner</p>
                        </div>
                    </section>
                </div>
                <!-- End Testimonials -->
            </div>
        </div>
    </div>
</section>
<!-- End Team -->
                   
          


<?php
include 'includes/footer.php';
?> 